

body{
   background-color:black;
   font-family: "Arial", sans-serif;
}

.title{
   color: rgb(245, 241, 2);
}

p {
   color: rgb(245,241,2);
   font-size: 24px;
   text-align: center;
}

li{
   color:rgb(245, 241, 2);
}

img{
   height:auto;
   width: 500px;
}

h3{
   color:rgb(245, 241, 2);
   font-size: 24px;
}

#desc, .ingredients-color-yassa{
   font-family: "Times New Roman", serif ;
   color: rgb(0, 0, 0);
}

#yassa-background{
   background-color: rgb(245, 241, 2);
}


